@page
@using webtry.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"> ShowRoom</h1>
   
</div>

@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))
<script source="_framework/blazor.server.js">

</script>